<div class="wrapper">
    <div class="sizes">
        <div astBadge size="s" appearance="info">Астюша</div>
        <div astBadge size="m" appearance="info">Астюша</div>
        <div astBadge size="l" appearance="info"> Астюша</div>
        <div astBadge size="xl" appearance="info"> Астюша</div>
    </div>
    <div class="appearances">
        <div astBadge>Астюша</div>
        <div astBadge appearance="primary">Астюша</div>
        <div astBadge appearance="accent">Астюша</div>
        <div astBadge appearance="success">Астюша</div>
        <div astBadge appearance="error">Астюша</div>
        <div astBadge appearance="warning">Астюша</div>
        <div astBadge appearance="info">Астюша</div>
    </div>
</div>
