<div class="checkbox-wrapper">
    <input type="checkbox" astCheckbox />

    <input type="checkbox" astCheckbox checked />

    <input type="checkbox" astCheckbox [invalid]="true" />

    <input type="checkbox" astCheckbox [invalid]="true" checked />

    <input type="checkbox" astCheckbox disabled />

    <input type="checkbox" astCheckbox disabled checked />

    <input type="checkbox" astCheckbox [indeterminate]="true" />

    <input type="checkbox" astCheckbox [indeterminate]="true" disabled />

    <input type="checkbox" astCheckbox />

    <input type="checkbox" astCheckbox checked />

    <input type="checkbox" astCheckbox />
</div>
