<div class="wrapper">
    <div class="appearances">
        <button astButton>Астюша</button>
        <button astButton appearance="secondary">Астюша</button>
        <button astButton appearance="flat">Астюша</button>
        <button astButton appearance="accent">Астюша</button>
        <button astButton appearance="soft">Астюша</button>
        <button astButton appearance="tinted">Астюша</button>
        <button astButton appearance="danger">Астюша</button>
    </div>

    <div class="sizes">
        <button astButton appearance="tinted" size="xs">Астюша</button>
        <button astButton appearance="tinted" size="s">Астюша</button>
        <button astButton appearance="tinted" size="m">Астюша</button>
        <button astButton appearance="tinted" size="l">Астюша</button>
    </div>
</div>
