<div class="wrapper">
    <h2>Primary</h2>

    <div class="row">
        <button
            astButton
            appearance="primary"
            size="xs"
            astIconStart="@ast.trash"
        >
            Астюша
        </button>

        <button
            astButton
            appearance="primary"
            size="s"
            astIconStart="@ast.trash"
        >
            Астюша
        </button>

        <button
            astButton
            appearance="primary"
            size="m"
            astIconStart="@ast.trash"
        >
            Астюша
        </button>

        <button
            astButton
            appearance="primary"
            size="l"
            astIconStart="@ast.trash"
        >
            Астюша
        </button>
    </div>

    <h2>Secondary</h2>

    <div class="row">
        <button
            astButton
            appearance="secondary"
            size="xs"
            astIconStart="@ast.trash"
        >
            Астюша
        </button>

        <button
            astButton
            appearance="secondary"
            size="s"
            astIconStart="@ast.trash"
        >
            Астюша
        </button>

        <button
            astButton
            appearance="secondary"
            size="m"
            astIconStart="@ast.trash"
        >
            Астюша
        </button>

        <button
            astButton
            appearance="secondary"
            size="l"
            astIconStart="@ast.trash"
        >
            Астюша
        </button>
    </div>

    <h2>Flat</h2>

    <div class="row">
        <button astButton appearance="flat" size="xs" astIconStart="@ast.trash">
            Астюша
        </button>

        <button astButton appearance="flat" size="s" astIconStart="@ast.trash">
            Астюша
        </button>

        <button astButton appearance="flat" size="m" astIconStart="@ast.trash">
            Астюша
        </button>

        <button astButton appearance="flat" size="l" astIconStart="@ast.trash">
            Астюша
        </button>
    </div>

    <h2>Outline</h2>

    <div class="row">
        <button
            astButton
            appearance="outline"
            size="xs"
            astIconStart="@ast.trash"
        >
            Астюша
        </button>

        <button
            astButton
            appearance="outline"
            size="s"
            astIconStart="@ast.trash"
        >
            Астюша
        </button>

        <button
            astButton
            appearance="outline"
            size="m"
            astIconStart="@ast.trash"
        >
            Астюша
        </button>

        <button
            astButton
            appearance="outline"
            size="l"
            astIconStart="@ast.trash"
        >
            Астюша
        </button>
    </div>

    <h2>Action</h2>

    <div class="row">
        <button
            astButton
            appearance="action"
            size="xs"
            astIconStart="@ast.trash"
        >
            Астюша
        </button>

        <button
            astButton
            appearance="action"
            size="s"
            astIconStart="@ast.trash"
        >
            Астюша
        </button>

        <button
            astButton
            appearance="action"
            size="m"
            astIconStart="@ast.trash"
        >
            Астюша
        </button>

        <button
            astButton
            appearance="action"
            size="l"
            astIconStart="@ast.trash"
        >
            Астюша
        </button>
    </div>

    <h2>Accent</h2>

    <div class="row">
        <button
            astButton
            appearance="accent"
            size="xs"
            astIconStart="@ast.trash"
        >
            Астюша
        </button>

        <button
            astButton
            appearance="accent"
            size="s"
            astIconStart="@ast.trash"
        >
            Астюша
        </button>

        <button
            astButton
            appearance="accent"
            size="m"
            astIconStart="@ast.trash"
        >
            Астюша
        </button>

        <button
            astButton
            appearance="accent"
            size="l"
            astIconStart="@ast.trash"
        >
            Астюша
        </button>
    </div>

    <h2>Negative</h2>

    <div class="row">
        <button
            astButton
            appearance="negative"
            size="xs"
            astIconStart="@ast.trash"
        >
            Астюша
        </button>

        <button
            astButton
            appearance="negative"
            size="s"
            astIconStart="@ast.trash"
        >
            Астюша
        </button>

        <button
            astButton
            appearance="negative"
            size="m"
            astIconStart="@ast.trash"
        >
            Астюша
        </button>

        <button
            astButton
            appearance="negative"
            size="l"
            astIconStart="@ast.trash"
        >
            Астюша
        </button>
    </div>

    <h2>Floating</h2>

    <div class="row">
        <button
            astButton
            appearance="floating"
            size="xs"
            astIconStart="@ast.trash"
        >
            Астюша
        </button>

        <button
            astButton
            appearance="floating"
            size="s"
            astIconStart="@ast.trash"
        >
            Астюша
        </button>

        <button
            astButton
            appearance="floating"
            size="m"
            astIconStart="@ast.trash"
        >
            Астюша
        </button>

        <button
            astButton
            appearance="floating"
            size="l"
            astIconStart="@ast.trash"
        >
            Астюша
        </button>
    </div>
</div>
