<div class="wrapper">
    Вроде готовы

    <div class="radio-column">
        <input type="radio" astRadio size="l" checked />
        <input type="radio" astRadio size="l" checked disabled />

        <input type="radio" astRadio size="l" />
        <input type="radio" astRadio size="l" disabled />

        <input type="radio" astRadio size="l" [invalid]="true" />
    </div>

    <div class="radio-column">
        <input type="radio" astRadio size="m" checked />
        <input type="radio" astRadio size="m" checked disabled />

        <input type="radio" astRadio size="m" />
        <input type="radio" astRadio size="m" disabled />

        <input type="radio" astRadio size="m" [invalid]="true" />
    </div>

    <div class="radio-column">
        <input type="radio" astRadio size="s" checked />
        <input type="radio" astRadio size="s" checked disabled />

        <input type="radio" astRadio size="s" />
        <input type="radio" astRadio size="s" disabled />

        <input type="radio" astRadio size="s" [invalid]="true" />
    </div>
</div>
